{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

<div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-6 col-lg-offset-3">
    <ul class="list-group">
        <table class="table table-striped table-bordered table-hover">
            <tr>
              <th>Fecha</th>
              <td>{{date}}</td>
            </tr>
            <tr>
              <th>Numero</th>
              <td>{{numero}}</td>
            </tr>
            <tr>
              <th>Version</th>
              <td>{{version}}</td>
            </tr>
            <tr>
              <th>Direccion</th>
              <td>{{direccion}}</td>
            </tr>
            <tr>
              <th>Numero Concepto</th>
              <td>{{numero_concepto}}</td>
            </tr>
            <tr>
              <th>Localidad</th>
              <td>{{localidad}}</td>
            </tr>
            <tr>
              <th>Codigo Sigau</th>
              <td>{{codigo_sigau}}</td>
            </tr>
            <tr>
              <th>Numero Arbol</th>
              <td>{{no_arbol}}</td>
            </tr>
            <tr>
              <th>Especie Vegetal</th>
              <td>{{especie_vegetal}}</td>
            </tr>
            <tr>
              <th>Tipo Manejo</th>
              <td>{{tipo_manejo}}</td>
            </tr>
            <tr>
              <th>Presencia Avifauna</th>
              <td>{{presencia_avifauna}}</td>
            </tr>
            <tr>
              <th>Manejo</th>
              <td>{{manejo}}</td>
            </tr>
            <tr>
              <th>Observaciones</th>
              <td>{{observaciones}}</td>
            </tr>
            <tr>
              <th>Altura Primer Fuste</th>
              <td>{{al_primer_fuste}}</td>
            </tr>
            <tr>
              <th>Altura Segundo Fuste</th>
              <td>{{al_segundo_fuste}}</td>
            </tr>
            <tr>
              <th>Altura Tercer Fuste</th>
              <td>{{al_tercer_fuste}}</td>
            </tr>
            <tr>
              <th>Altura Cuarto Fuste</th>
              <td>{{al_cuarto_fuste}}</td>
            </tr>
            <tr>
              <th>Perimetro Primer Fuste</th>
              <td>{{pe_primer_fuste}}</td>
            </tr>
            <tr>
              <th>Perimetro Segundo Fuste</th>
              <td>{{pe_segundo_fuste}}</td>
            </tr>
            <tr>
              <th>Perimetro Tercer Fuste</th>
              <td>{{pe_tercer_fuste}}</td>
            </tr>
            <tr>
              <th>Perimetro Cuarto Fuste</th>
              <td>{{pe_cuarto_fuste}}</td>
            </tr>
            <tr>
              <th>Observaciones</th>
              <td>{{big_observaciones}}</td>
            </tr>
            <tr>
              <th>Fecha Mdicion</th>
              <td>{{fecha_medicion}}</td>
            </tr>
            <tr>
              <th>Fecha Trabajo</th>
              <td>{{fecha_trabajo}}</td>
            </tr>
            <tr>
              <th>Fecha Inicio</th>
              <td>{{fecha_inicio}}</td>
            </tr>
            <tr>
              <th>Fecha Destoconado</th>
              <td>{{fecha_destoconado}}</td>
            </tr>
            <tr>
              <th>Fecha Recoleccion</th>
              <td>{{fecha_recoleccion}}</td>
            </tr>
            <tr>
              <th>Valor Intervencion</th>
              <td>{{valor_intervencion}}</td>
            </tr>
            <tr>
              <th>Latitud</th>
              <td>{{latitud}}</td>
            </tr>
            <tr>
              <th>Longitud</th>
              <td>{{longitud}}</td>
            </tr>
        </table>
    </ul>
    </div>

{% endblock %}
