<head>
    <style>
        @page 
        {
            size: a4 portrait;
            @frame header_frame 
            {           /* Static Frame */
                -pdf-frame-content: header_content;
                left: 50pt; width: 512pt; top: 50pt; height: 40pt;
            }
            @frame content_frame 
            {          /* Content Frame */
                left: 50pt; width: 512pt; top: 90pt; height: 632pt;
            }
            @frame footer_frame 
            {           /* Another static Frame */
                -pdf-frame-content: footer_content;
                left: 50pt; width: 512pt; top: 772pt; height: 20pt;
            }
        }
    </style>
</head>

    <body>
        <!-- Content for Static Frame 'header_frame' -->
        <div id="header_content">
            <a>
            <img src="static/images/logo.jpg" style="width:150px">
            </a>   
        </div>
        <div >
            <p>
                <h3 align="center">
                    ARBOLADO
                    <br/>
                    <br/>
                </h3>
            </p>
            <p align="center">
                <strong>GENERACION DE REPORTE</strong>
                <br/>
                <br/>
                <br/>
                <br/>
            </p>
        </div>
        <!-- Content for Static Frame 'footer_frame' -->
        <div id="footer_content">Arbolado(c) - page <pdf:pagenumber>
            of <pdf:pagecount>
        </div>
        <!-- HTML Content -->
        <table>
                <tr>
                    <td>AREA DE </td>
                    <td><strong></strong></td>
                </tr>
        </table>
        <p>
            <strong>Lista de Actividades</strong>
        </p>
        <br/>
        <hr>
        <div class="row">
            <table>
                
            </table>
            <table>
                {% for obj in registro %}
                <tr>
                <td style="text-align:left">codigo      - fecha             - numero</th>
                <td style="text-align:left">version     - direccion         - codigo_sigau</td>
                </tr>
            </table>
            <table>
                <tr>
                <td style="text-align:left">{{obj.codigo}}       - {{obj.date}}       - {{obj.numero}}</th>
                <td style="text-align:left">{{obj.version}}      - {{obj.direccion}}  - {{obj.codigo_sigau}}</td>
                </tr>
            </table>
            <hr>
            <table>
                <tr>
                <td style="text-align:left">numero_concepto - localidad - no_arbol </th>
                <td style="text-align:left">especie_vegetal - tipo_manejo - presencia_avifauna</td>
                </tr>
            </table>
            
            <table>   
                <tr>
                <td style="text-align:left">{{obj.numero_concepto}} - {{obj.localidad}} - {{obj.no_arbol}}</th>
                <td style="text-align:left">{{obj.especie_vegetal}} - {{obj.tipo_manejo}} - {{obj.presencia_avifauna}}</td>
                </tr>
            </table>
            <hr>
            <table>  
                <tr>
                <td style="text-align:left">manejo - observaciones - al_primer_fuste</th>
                <td style="text-align:left">al_segundo_fuste - al_tercer_fuste - al_cuarto_fuste</td>
                </tr>
            </table>
            
            <table>  
                <tr>
                <td style="text-align:left">{{obj.manejo}} - {{obj.observaciones}} - {{obj.al_primer_fuste}}</th>
                <td style="text-align:left">{{obj.al_segundo_fuste}} - {{obj.al_tercer_fuste}} - {{obj.al_cuarto_fuste}}</td>
                </tr>
            </table>
            <hr>
            <table>  
                <tr>
                <td style="text-align:left">pe_primer_fuste - pe_segundo_fuste - pe_tercer_fuste</th>
                <td style="text-align:left">pe_cuarto_fuste - big_observaciones - fecha_medicion</td>
                </tr>
            </table>
            
            <table> 
                <tr>
                <td style="text-align:left">{{obj.pe_primer_fuste}} - {{obj.pe_segundo_fuste}} - {{obj.pe_tercer_fuste}}</th>
                <td style="text-align:left">{{obj.pe_cuarto_fuste}} - {{obj.big_observaciones}} - {{obj.fecha_medicion}}</td>
                </tr>
            </table>
            <hr>
            <table> 
                <tr>
                <td style="text-align:left">fecha_trabajo - fecha_inicio - fecha_destoconado</th>
                <td style="text-align:left">fecha_recoleccion - valor_intervencion - latitud - longitud</td>
                </tr>
            </table>
            
            <table> 
                <tr>
                <td style="text-align:left">{{obj.fecha_trabajo}} - {{obj.fecha_inicio}} - {{obj.fecha_destoconado}}</th>
                <td style="text-align:left">{{obj.fecha_recoleccion}} - {{obj.valor_intervencion}} - {{obj.latitud}} - {{obj.longitud}} </td>
                </tr>
            </table>
            
        
                {% endfor %}
            
        </div>
        <hr>
        <p>
        </p>
        <div class='details'>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            
        </div>
        <div class="align-self-center">
            <a>
            <img src="static/images/{{nombre_foto}}" style="width:220px" class=" center-block">
            </a>
            <a>
            <img src="static/images/{{nombre_foto}}" style="width:220px" class=" center-block">
            </a>
            <a>
            <img src="static/images/{{nombre_foto}}" style="width:220px" class=" center-block">
            </a> 
        </div>
        <div>
            <table>
                <tr>
                    <th>Antes</th>
                    <th>Durante</th>
                    <th>Despues</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </body>
    </html>