<head>
    <style>
        @page 
        {
            size: a4 portrait;
            @frame header_frame 
            {           /* Static Frame */
                -pdf-frame-content: header_content;
                left: 50pt; width: 512pt; top: 50pt; height: 40pt;
            }
            @frame content_frame 
            {          /* Content Frame */
                left: 50pt; width: 512pt; top: 90pt; height: 632pt;
            }
            @frame footer_frame 
            {           /* Another static Frame */
                -pdf-frame-content: footer_content;
                left: 50pt; width: 512pt; top: 772pt; height: 20pt;
            }
        }
    </style>
</head>

    <body>
        <!-- Content for Static Frame 'header_frame' -->
        <div id="header_content">
            <a>
            <img src="static/images/{{imagen}}" style="width:150px">
            </a>   
        </div>
        <div >
            <p>
                <h3 align="center">
                    ARBOLADO
                    <br/>
                    <br/>
                </h3>
            </p>
            <p align="center">
                <strong>GENERACION DE REPORTE</strong>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </p>
        </div>
        <!-- Content for Static Frame 'footer_frame' -->
        <div id="footer_content">Arbolado(c) - page <pdf:pagenumber>
            of <pdf:pagecount>
        </div>
        <!-- HTML Content -->
        <table>
                <tr>
                    <td>AREA DE </td>
                    <td><strong></strong></td>
                </tr>
        </table>
        <p>
            <strong>Lista de Actividades</strong>
        </p>
        <br/>
        <hr>
        <div class="row">
            <table>
                <thead>
                    <th>Usuario</th>
                    <th>Fecha</th>
                    <th>Arbol</th>
                    <th>Numero</th>
                    <th>Actividad</th>
                    <th>Coordenadas</th>
                </thead>
                {% for obj in registro %}
                <tr>
                <th>1</th>
                <td>{{obj.codigo}} - {{obj.date}} - {{obj.numero}}</td>
                </tr>

                <tr>
                <th>2</th>
                <td>{{obj.version}} - {{obj.direccion}} - {{obj.codigo_sigau}}</td>
                </tr>

                <tr>
                <th>3</th>
                <td>{{obj.numero_concepto}} - {{obj.localidad}} - {{obj.no_arbol}}</td>
                </tr>

                <tr>
                <th>4</th>
                <td>{{obj.especie_vegetal}} - {{obj.tipo_manejo}} - {{obj.presencia_avifauna}}</td>
                </tr>

                <tr>
                <th>5</th>
                <td>{{obj.manejo}} - {{obj.observaciones}} - {{obj.al_primer_fuste}}</td>
                </tr>

                <tr>
                <th>6</th>
                <td>{{obj.al_segundo_fuste}} - {{obj.al_tercer_fuste}} - {{obj.al_cuarto_fuste}}</td>
                </tr>

                <tr>
                <th>7</th>
                <td>{{obj.pe_primer_fuste}} - {{obj.pe_segundo_fuste}} - {{obj.pe_tercer_fuste}}</td>
                </tr>

                <tr>
                <th>8</th>
                <td>{{obj.pe_cuarto_fuste}} - {{obj.big_observaciones}} - {{obj.fecha_medicion}}</td>
                </tr>

                <tr>
                <th>9</th>
                <td>{{obj.fecha_trabajo}} - {{obj.fecha_inicio}} - {{obj.fecha_destoconado}}</td>
                </tr>

                <tr>
                <th>10</th>
                <td>{{obj.fecha_recoleccion}} - {{obj.valor_intervencion}} - {{obj.latitud}}</td>
                </tr>

                <tr>
                <th>10</th>
                <td>{{obj.longitud}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <hr>
        <p>
        </p>
        <div class='details'>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            
        </div>
        <div class="align-self-center">
            <a>
            <img src="static/images/{{nombre_foto}}" style="width:220px" class=" center-block">
            </a>
            <a>
            <img src="static/images/{{nombre_foto}}" style="width:220px" class=" center-block">
            </a>
            <a>
            <img src="static/images/{{nombre_foto}}" style="width:220px" class=" center-block">
            </a> 
        </div>
        <div>
            <table>
                <tr>
                    <th>Antes</th>
                    <th>Durante</th>
                    <th>Despues</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </body>
    </html>