{% extends "base.html" %}
{% load bootstrap3 %}

<head>

    <script src="js/jquery-1.11.0.min.js"></script> 
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
</head>


{% block content %}
<div class="container-fluid">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-4 col-md-offset-2 col-md-4 col-lg-4 col-lg-offset-3">
        <form type="get" action="." style="margin: 0">
            <input  id="search_box" type="text" name="search_box"  placeholder="Nombre Estudiante" >
            <button id="search_submit" type="submit" class="btn btn-primary pull-center">Buscar</button>
        </form>
    </div>

    {% if usuario != "" %}
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-4 col-md-offset-2 col-md-4 col-lg-4 col-lg-offset-3">
        <p>
            <br>
            <br>
            <b>Nombre:</b>
            {{ usuario.user}} {{ usuario.apellido_estudiante}}
            <br>
            <b>Condiciones Especiales:</b>
            {{ usuario.descripcion_condicion_especial}}
            <br>
            <b>Acudiente:</b>
            {{ usuario.nombre_acudiente}} {{ usuario.apellido_acudiente}}
            <br>
        </p>
    </div>


    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-4 col-md-offset-2 col-md-4 col-lg-4 col-lg-offset-3">
        <img src={{imagen}} alt="Photo">
    </div>
    

    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-4 col-md-offset-2 col-md-4 col-lg-4 col-lg-offset-3">
        <form type="acudiente_get" action="." style="margin: 0">
            <a href="tel:{{ usuario.celular_acudiente}} ">Llamar acudiente</a>
            <a href="tel:{{ usuario.celular_acudiente}} ">{{ usuario.celular_acudiente}} </a>
        </form>
    </div>
    
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-4 col-md-offset-2 col-md-4 col-lg-4 col-lg-offset-3">
        <form type="get" action="." style="margin: 0">
            <a href="tel:{{ ambulancia_name}}  ">Llamar ambulancia</a>
            <a href="tel:{{ ambulancia_name}}  ">{{ ambulancia_name}}  </a>
            <p>
                <br>
                <b>Convenio:</b> {{usuario.identidad_seguro}}
                <br>
                <b>NIT estudiante:</b> {{usuario.nit_estudiante}}
                <br>
                <b>ID del seguro del estudiante:</b> {{usuario.id_seguro}}
            </p>
        </form>
    </div>

    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-4 col-md-offset-2 col-md-4 col-lg-4 col-lg-offset-3">
        <p>
            <b>Puntos de atencion:</b>  {{puntos_atencion}}
        </p>
    </div>
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-4 col-md-offset-2 col-md-4 col-lg-4 col-lg-offset-3">
        <img src={{mapa_cali}} alt="Photo">
    </div>
    

    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-4 col-md-offset-2 col-md-4 col-lg-4 col-lg-offset-3">
            <button id = "find-me" class="btn btn-primary pull-center">Obtener Ubicacion</button>
            <br>
            <p id = "status"></p>
            <a id = "map-link" target="_blank"></a>
    </div>


    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-4 col-md-offset-2 col-md-4 col-lg-4 col-lg-offset-3">
        <p>
            <b>ultimas notas:</b>
            {% for nota in notas %}
            -{{nota.actividad}}
            {% endfor %}
        </p>
    </div>

    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-4 col-md-offset-2 col-md-4 col-lg-4 col-lg-offset-3">
        <p>
            <b>ultimas actividades:</b>
            {% for actividad in actividades %}
            -{{actividad.sintomas}}
            {% endfor %}
        </p>
    </div>
    {% endif %}

</div>

<div>
    <script>
        function geoFindMe() {

        const status = document.querySelector('#status');
        const mapLink = document.querySelector('#map-link');

        mapLink.href = '';
        mapLink.textContent = '';

        function success(position) {
            const latitude  = position.coords.latitude;
            const longitude = position.coords.longitude;

            status.textContent = '';
            mapLink.href = `https://www.google.com/maps?q=${latitude},${longitude}`;
            mapLink.textContent = `Haz click aqui para buscar ubicacion de: Latitud ${latitude} °, Longitud ${longitude} °`;
        }
        
        function error() {
            status.textContent = 'Unable to retrieve your location';
        }

        if(!navigator.geolocation) {
            status.textContent = 'Geolocation is not supported by your browser';
        } else {
            status.textContent = 'Locating…';
            navigator.geolocation.getCurrentPosition(success, error);
        }

        }

        document.querySelector('#find-me').addEventListener('click', geoFindMe);

        

    </script>


</div>
{% endblock %}