<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>TecSure</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  </head>


  <body>
    <nav class="navbar navbar-dark bg-primary navbar-static-top" >
      
    			<div class="container col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-0">
            <a class="navbar-brand " href="{% url 'account:home' %}" style="color: rgb(255, 255, 255)" >Hola {{user.username|capfirst}}</a>
    					<ul class="nav navbar-nav navbar-right ">
    						{% if user.is_authenticated %}
                      {% if user.is_director %}
                      <!-- director's dashboard -->
                      <li><a href="{% url 'appointment:director-urgencia' %}" style="color: rgb(255, 255, 255)">Urgencia</a></li>                 
                      <li><a href="{% url 'appointment:doc-prescriptions' %}" style="color: rgb(255, 255, 255)">Actividades</a></li>
                      <li><a href="{% url 'appointment:director-notas' %}" style="color: rgb(255, 255, 255)" >Notas</a></li>
                      <li><a href="{% url 'appointment:director-eventos' %}" style="color: rgb(255, 255, 255)" >Eventos</a></li>
                      <li><a href="{% url 'user_profile:PerfilListView' %}" style="color: rgb(255, 255, 255)" >Perfiles</a></li>
                      <li><a href="http://127.0.0.1:8000/admin/" style="color: rgb(255, 255, 255)" >Admin</a></li>
    						      <li><a href="{% url 'account:logout' %}" ><button class="btn btn-warning btn-sm" style="color: rgb(255, 255, 255)">Log Out</button></a></li>
                      {% endif %}
                      {% if user.is_student %}
                      <!-- student's dashboard -->
                      <li><a href="{% url 'appointment:student-prescriptions' %}" style="color: rgb(255, 255, 255)" >Actividades</a></li>
                      <li><a href="{% url 'appointment:student-notas' %}" style="color: rgb(255, 255, 255)" >Notas</a></li>
                      <li><a href="{% url 'appointment:student-eventos' %}" style="color: rgb(255, 255, 255)" >Eventos</a></li>
                      <li><a href="{% url 'user_profile:OnePerfilListView' %}" style="color: rgb(255, 255, 255)">Perfil</a></li>
    						      <li><a href="{% url 'account:logout' %}" ><button class="btn btn-warning btn-sm" style="color: rgb(255, 255, 255)" >Log Out</button></a></li> 
                      {% endif %}
                      {% if user.is_receptionist %}
                      <!-- receptionist's dashboard -->
                      <li><a href="{% url 'appointment:r_dashboard' %}" style="color: rgb(255, 255, 255)" >Dashboard</a></li>
    						      <li><a href="{% url 'account:logout' %}" ><button class="btn btn-warning btn-sm" style="color: rgb(255, 255, 255)" >Log Out</button></a></li> 
                      {% endif %}
                      {% if user.is_HR %}
                      <!-- HR's dashboard -->
                      <li><a href="{% url 'appointment:hr_dashboard' %}" style="color: rgb(255, 255, 255)" >Dashboard</a></li>
                      <li><a href="{% url 'appointment:hr_accounting' %}" style="color: rgb(255, 255, 255)" >Accounting</a></li>
    						      <li><a href="{% url 'account:logout' %}" ><button class="btn btn-warning btn-sm" style="color: rgb(255, 255, 255)" >Log Out</button></a></li> 
                      {% endif %}
    						{% else %}
    						      <li><a href="{% url 'account:login' %}" ><button class="btn btn-success btn-sm" style="color: rgb(255, 255, 255)" >Log In</button></a></li>   
    						{% endif %}
    					</ul>
    			</div>
		</nav>
    <div class="container mycontent">
          {% block content %}
          {% endblock %}
    </div>
  </body>
</html>
