<!-- Footer -->
<footer class="bg-white text-center text-dark" style="min-height: 100px;">
    <!-- Grid container -->
    <div class="container p-4 d-flex justify-content-around cont-footer">
        <!--Grid column-->
        <div class="p-2 align-self-center">
            <p>Plantamos, talamos, decoramos</p>
            <h6 class="text-uppercase"><strong>Contacto</strong>: Juan Camilo Suarez</h6>
            <p><strong>Dirección</strong>: Cali, Valle del Cauca</p>
        </div>
        <!--Grid column-->
        <div class="p-2 align-self-center">
            <h6 class="text-uppercase mb-0">Redes Sociales</h6>
            <ul class="list-unstyled">
            <li>
                <a href="" class="text-dark">Telegram</a>
            </li>
            <li>
                <a href="" class="text-dark">Whatsapp</a>
            </li>
            <li>
                <a href="" class="text-dark">Facebook</a>
            </li>
            </ul>
        </div>
        <!--Grid column-->
        <div class="p-2 align-self-center">
        </div>
        <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->
</footer>